.vercel
.env
.env.local
.env*.local
*/.env
*/.env.local
node_modules/
demo_credentials.txt

# Entornos virtuales
venv/
env/
ENV/

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest
.pytest_cache/
pytest.ini
pytest_cache/

# Tests
tests/
test_*.py